{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice {{data.invoiceRefNo}}</title>
    <style>
        p,
        td,
        th {
            font-size: 13px;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td style="text-align: left;">
                <img style="text-align: left;height: 80px;object-fit:contain" src="{{company_logo_url}}" alt="">
            </td>
            <td style="text-align: right;">
                <p>
                    <span style="font-weight: bold">{{company.company_name}}</span> <br>
                    <span>{{company.address}}</span> <br>
                    <span>{{company.province}}</span> ,
                    <span>Pakistan</span> <br>
                    <span><span style="color: grey;font-size:11px">NTN/CNIC: </span>{{company.company_ntn_cnic}}</span>
                </p>
            </td>
        </tr>
    </table>
    <div style="border-top:1px solid rgb(182, 182, 182);width:100%;margin:1rem 0rem">
        <table>
            <tr>
                <td style="text-align:left;padding-top:0.7rem;">
                    <span style="font-size: 13px;">Bill To:</span> <br>
                    <span><b>{{data.customer.company_name}}</b></span> <br>
                    <span>{{data.customer.address}}</span> <br>
                    <span>{{data.customer.province}}</span> ,
                    <span>Pakistan</span> <br>
                    <span><span style="color: grey;font-size:11px">NTN/CNIC: </span>{{data.customer.company_ntn_cnic}}</span>

                </td>
                <td style="text-align:right;padding-top:0.7rem; vertical-align: top;">
                    <p>
                        <span style="font-size: 13px;">{{data.invoiceDate|date:'Y-m-d'}}</span> <br>
                        Invoice# <br>
                        <span style="font-size: 14px;font-weight:bold">{{data.invoiceRefNo}}</span>
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin:1rem 0rem">
        <table style="border: 1px solid #bbbbbb; border-collapse: collapse;">
            <thead>
                <tr style="background-color: grey; padding:0.5rem 0.5rem 0rem">
                    <th style="text-align: left;color:white;font-size:12px">#</th>
                    <th style="text-align: left;color:white;font-size:12px">Description</th>
                    <th style="text-align: left;color:white;font-size:12px">Hs Code</th>
                    <th style="text-align: right;color:white;font-size:12px">Qty</th>
                    <th style="text-align: right;color:white;font-size:12px">Retail Price</th>
                    <th style="text-align: right;color:white;font-size:12px">Tax Rate</th>
                    <th style="text-align: right;color:white;font-size:12px">Total Value</th>
                    <th style="text-align: right;color:white;font-size:12px">Further Tax</th>
                    <th style="text-align: right;color:white;font-size:12px">Discount</th>
                    <th style="text-align: right;color:white;font-size:12px">Extra Tax</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data.items.all %}
                <tr style="padding:0.5rem 0.5rem 0rem">
                    <td style="font-size:12px;width:30px;">{{forloop.counter}}</td>
                    <td style="font-size:12px;text-align: left;">{{item.product_description}}</td>
                    <td style="font-size:12px;text-align: left;">{{item.hs_code}}</td>
                    <td style="font-size:12px;text-align: right;">{{item.quantity}}</td>
                    <td style="font-size:12px;text-align: right;">{{ item.valueSalesExcludingST|div:item.quantity }}
                    </td>
                    <td style="font-size:12px;text-align: right;">{{item.rate}}%</td>
                    <td style="font-size:12px;text-align: right;">{{item.totalValues}}</td>
                    <td style="font-size:12px;text-align: right;">{{item.furtherTax}}</td>
                    <td style="font-size:12px;text-align: right;">{{item.discount}}</td>
                    <td style="font-size:12px;text-align: right;">{{item.extraTax}}</td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
    <div style="margin-bottom: 1rem;">
        <table>
            <tr>
                <td></td>
                <td>
                    <table>
                        <tr style="padding: 0.1rem 0rem;">
                            <td style="font-size: 13px;text-align:right">Sub Total Rs: </td>
                            <td style="font-size: 13px;text-align:right">{{valueSalesExcludingST}}</td>
                        </tr>
                        <tr style="padding: 0.1rem 0rem;">
                            <td style="font-size: 13px;text-align:right">Tax Rate Rs: </td>
                            <td style="font-size: 13px;text-align:right">{{rate}}</td>
                        </tr>
                        <tr style="padding: 0.1rem 0rem;">
                            <th style="font-size: 13px;text-align:right">Total Rs: </th>
                            <th style="font-size: 13px;text-align:right">{{total}} </th>
                        </tr>
                        <tr style="padding: 0.1rem 0rem;">
                            <td style="font-size: 13px;text-align:right">WithHolding Total Rs: </td>
                            <td style="font-size: 13px;text-align:right">{{data.with_holding_total }} </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align:center">
        <b style="font-size: 13px;">FBR Invoice #</b><br>
        <span style="font-size: 13px;">{{data.fbrInvoiceNumber}}</span>
        <table style="margin: 0 auto;">
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                    <img src="{{fbrLogo}}" alt="" style="width:80px;height:80px;object-fit:contain;">
                    <img src="data:image/png;base64,{{qr_code_base64}}" alt="" style="width:110px;height:110px;object-fit:contain;">
                </td>
            </tr>
        </table>
    </div>
</body>

</html>